In [1]:
import Assets as a
import GeneralJournal as gj
from GeneralJournal import Journaling as j
import Capital as c
MainCash = a.Asset(101, 'mainc')
Equity = c.Equity(201, 'inv')
entry01 = gj.Journaling
j.two_line_journal_entry(entry01, '2024-14-7', MainCash, Equity, 100000)
Equity02 = c.Equity(202, 'inv02')
entry02 = gj.Journaling
j.two_line_journal_entry(entry02, '2024-14-7', MainCash, Equity02, 50000)
j.general_journal

        date account_name   pr      dr      cr
0  2024-14-7        mainc  101  100000       0
1  2024-14-7          inv  201       0  100000
2  2024-14-7        mainc  101   50000       0
3  2024-14-7        inv02  202       0   50000

In [2]:
Equity.show_ledger()

        Date   Debit  Credit
0  2024-14-7       0  100000
1   Balance:  100000       -